<% provide(:title, 'About') %>
<h1> The Utility of Discussion </h1>
<p>
pluswisdom is a platform for sharing thoughts and insight on the papers you're reading. One of the best parts of being in any intellectual community is discussing new and unfamiliar ideas with other folks who are trying to comprehend the same things. Here at pluswisdom you can write your own articles about what you read, ask questions about ideas in the articles and have them answered, and be involved in making connections between ideas. You can also rate articles by replicability.
</p>
