<% provide(:title, 'About') %>
<h1> Do You Care About Us </h1>
<p>
Once someone cared about Graham Crackers.  That person had a dream.
Based on a flavor most sublime.  Now you can spread graham
paste on your toast.  This is enterprise!  <%= yield(:title) %> !
</p>
