<% provide(:title, 'Contact') %>
<h1>Contact. </h1>
  <h2>
    It's all we really need. Contact.  Emotional intimacy
    with another living being.  Acknowledgment of our mutual,
    terrifying mortality.

    You can "contact" me at e.feasley@gmail.com
  </h2>
</div>
