<% provide(:title, 'Help') %>
<h1>Asking For Help</h1>
<p>
  Asking for help is the first step.  Without help, you are powerless.
  No man is an island.  We love you here. <%= yield(:title) %> !
</p>
