<% provide(:title, 'Sign up') %>
<h1>Start Your Journey</h1>
<p>Your journey is one of your own devising.  This is what you were
promised from the beginning.  This journey is waiting as it always
has been and will be. Let me know how it goes? And just how
metaphorical the dragons are?
</p>
