<footer class="footer">
  <small>
    <a href="http://www.elianafeasley.com">Me!</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", root_url(:subdomain => "blog") %></li>
      <li><a href="http://www.picturesforsadchildren.com/">How to be a sad loris</a></li>
    </ul>
  </nav>
</footer>
